node_modules
.vitepress/cache/
.vitepress/dist/
.vitepress/.temp/
por-publicar/ALINEACION-NUEVO-TEMARIO.md
por-publicar/old-organizacion.curso.md
por-publicar/organizacion-del-curso.md
por-publicar/curso-bienvenida/
TAREAS.md
curso-normalizacion/por-publicar/.vitepress/dist/assets/chunks/chunk-4BX2VUAB.D8YddeD7.js
curso-normalizacion/por-publicar/.vitepress/dist/404.html
